ul {
  list-style: none;
  display: block;
  text-align: center;
}

span {
  font-size: 18px;
}

.weather-forecast-day {
  font-size: 16px;
  font-weight: 600;
}
.weather-forecast-temp-min {
  opacity: 0.6;
}
